.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    background-color: var(--bgSoft);
    color: var(--textColor);
    border-radius: 5px;
}
  
.vaultEntry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.inputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vaultEntry label {
    margin-right: 10px;
    font-size: 15px;
    text-align: center;
}

.vaultEntry input {
    padding: 10px;
    background-color: var(--bg);
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    color: var(--textColor);
}

.remBtn {
    padding: 5px;
    background-color: #A93232;
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 10px;
}

.addBtn,
.saveBtn,
.showBtn {
    padding: 7px;
    background-color: var(--btn);
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-top: 12px;
}

.modal {
    margin-top: 10px;
}

.modal input {
    margin-right: 10px;
    padding: 10px;
    background-color: var(--bg);
    border: none;
    border-radius: 5px;
    color: var(--textColor);
}

.modalSubmit {
    padding: 5px;
    background-color: rgb(28, 150, 28);
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}

.modalCancel {
    padding: 5px;
    background-color: #A93232;
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}