.container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbarBg);
    border-radius: 5px;

}

.logo{
    font-size: 30px;
    font-weight: bold;
}